
body{
    background: url(imgs/back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 99%;

}
audio{
    position: relative;
    width: 2px;
    height: 1px;
    visibility: hidden;
}
.pp{
    position: fixed;
    left: 40%;
    width: 10%;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0px solid;


}

button:focus {
    outline-color: black;
    border-color:rgb(0, 0, 0);
    background-color: black;
}

#ball{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(247, 149, 3);
    left: 0px;
}