
body{
    background: url(imgs/back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 99%;
    overflow: hidden;

}
audio{
    position: relative;
    width: 2px;
    height: 1px;
    visibility: hidden;
}
.pp{
    position: fixed;
    left: 40%;
    width: 10%;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0px solid;
    z-index: 10;

}

button:focus {
    outline-color: black;
    border-color:rgb(0, 0, 0);
    background-color: black;
}

#ball{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(247, 149, 3);
    left: -10%;

}

#tesla{
    position: fixed;
    transform: rotate(0deg);
    left: -20%;

    width: 20%;
    height: 20%;
}

#gza{
    position: fixed;
    transform: rotate(0deg);
    left: -10%;

    width: 10%;
    height: 18%;
}

#pizza{
    position: fixed;
    transform: rotate(0deg);
    left: -10%;

    width: 20%;
    height: 25%;
}

#cd{
    position: fixed;
    transform: rotate(0deg);
    left: -10%;

    width: 20%;
    height: 25%;
}

#sword{
    position: fixed;
    transform: rotate(0deg);
    left: -10%;
    width: 20%;
    height: 25%;
}

#powered{
    position: fixed;
    right: 1%;
    bottom: 0%;
    color: rgb(131, 130, 130);
    font-weight: bold;
}
